.DS_Store
/release/

.vs/
*.aps
*.tlog
*.VC.db
*.cache
*.pdb
*.vcxproj.user

*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib

Debug/
Release/
x64/
*.out
*.exe
!/bin/Debug/*.exe
!/bin/Release/*.exe
